In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
#sns.default()

In [2]:
df_swing = pd.read_csv("./datasets/EDA/1/2008_swing_states.csv")

In [3]:
df_swing.shape

(222, 6)

In [4]:
df_swing.head(5)

  state           county  total_votes  dem_votes  rep_votes  dem_share
0    PA      Erie County       127691      75775      50351      60.08
1    PA  Bradford County        25787      10306      15057      40.64
2    PA     Tioga County        17984       6390      11326      36.07
3    PA    McKean County        15947       6465       9224      41.21
4    PA    Potter County         7507       2300       5109      31.04

In [5]:
df_swing.columns

Index(['state', 'county', 'total_votes', 'dem_votes', 'rep_votes',
       'dem_share'],
      dtype='object')

In [6]:
df_swing.dtypes

state           object
county          object
total_votes      int64
dem_votes        int64
rep_votes        int64
dem_share      float64
dtype: object

In [7]:
df_swing.isnull().sum()

state          0
county         0
total_votes    0
dem_votes      0
rep_votes      0
dem_share      0
dtype: int64

In [8]:
df_swing.describe()

         total_votes      dem_votes      rep_votes   dem_share
count     222.000000     222.000000     222.000000  222.000000
mean    90424.513514   47214.283784   42236.567568   43.764414
std    142285.290653   88913.077046   56208.862490   10.712770
min      2245.000000     642.000000    1323.000000    6.800000
25%     16537.250000    6337.500000    9203.750000   37.302500
50%     32491.000000   14392.000000   18050.500000   43.185000
75%     95516.750000   41623.000000   50651.750000   49.925000
max    863486.000000  595980.000000  360551.000000   83.560000

In [9]:
df_swing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 6 columns):
state          222 non-null object
county         222 non-null object
total_votes    222 non-null int64
dem_votes      222 non-null int64
rep_votes      222 non-null int64
dem_share      222 non-null float64
dtypes: float64(1), int64(3), object(2)
memory usage: 10.5+ KB

In [10]:
df_swing.state.unique()

array(['PA', 'OH', 'FL'], dtype=object)

In [11]:
df_swing.county.unique()[1:10]

array(['Bradford County', 'Tioga County', 'McKean County',
       'Potter County', 'Wayne County', 'Susquehanna County',
       'Warren County', 'Ashtabula County', 'Lake County'], dtype=object)

In [12]:
df_swing.state.value_counts()

OH    88
FL    67
PA    67
Name: state, dtype: int64